body {
  font-size: 16px;
  line-height: 1.6;
}

.navbar-brand {
  padding-left: 45px;
  background-image: url('../img/logo-lebre.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 10px 15px;
}

header.jumbotron h1:first-of-type {
  margin-top: 0;
}

footer > .container-fluid > ul.nav-pills > li:first-of-type {
  margin-right: -15px !important;
}
footer > .container-fluid > ul.nav-pills > li:nth-child(2) {
  margin-left: -15px !important;
}

label[for] {
  cursor: pointer;
}
label[for]:hover {
  opacity: 0.85;
}

.input-group .input-group-addon label {
  margin-bottom: 0;
}