body {
  font-size: 16px;
  line-height: 1.6;
}

.navbar-brand {
  padding-left: 45px;
  background-image: url('../img/logo-lebre.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 10px 15px;
}

header.jumbotron h1:first-of-type {
  margin-top: 0;
}

body {
  padding-top: 60px;
}

.navbar-brand {
  padding-left: 45px;
  background-image: url('../img/logo-lebre.svg');
  background-size: 25px;
  background-position: 15px 15px;
  background-repeat: no-repeat;
}

.navbar-form,
.navbar-btn {
  margin-top: 12px;
}

.navbar-form input[type=text],
.navbar-form input[type=password] {
  height: 35px;
}

.navbar-form .btn,
.navbar-btn {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media(min-width: 768px) and (max-width: 991px) {
  .navbar-form input[type=text],
  .navbar-form input[type=password] {
    max-width: 95px;
  }
}

.navbar .navbar-btn.navbar-right {
  margin-left: 10px !important;
}

.navbar .navbar-btn.navbar-right:first-of-type {
  margin-right: 0px;
}

section:nth-child(even) {
  background-color: #f4f4f4;
}

.fundo-foto-hotel {
  background-image: url('../img/unidades/fake-hotel_LR.jpg');
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.35);
}

.fundo-foto-hotel .btn {
  opacity: 0.75;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.35);
  transition: 0.2s;
}
.fundo-foto-hotel .btn:hover {
  opacity: 1;
}

section {
  padding: 40px 0px;
}

section .titulo-secao {
  margin: 0px 0px 35px 0px;
}

.thumbnail-oferta .caption h3 {
  margin-top: 5px;
}

.thumbnail-oferta-descricao {
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail-oferta-links {
  margin-top: 15px;
  margin-bottom: 0px;
}

@media(min-width: 768px) {
}

#login .modal-title small {
  display: block;
}
#login .modal-body .form-horizontal {
  max-width: 350px;
  margin: 5px auto 0px auto !important;
}
#login .modal-body .form-horizontal input {
  margin-bottom: 10px;
}
#login .modal-footer label {
  margin-top: 10px;
  display: block;
  width: 100%;
}

.btn-ofertas {
  max-width: 380px;
  margin: 10px auto !important;
}

footer {
  border-top: 1px solid rgba(0,0,0,0.15);
}

footer .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

label[for] {
  cursor: pointer;
}
label[for]:hover {
  opacity: 0.85;
}

.input-group .input-group-addon label {
  margin-bottom: 0;
}

.datepicker-days table thead tr {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.datepicker-days table tfoot {
  border-top: 1px solid rgba(0,0,0,0.05);
}

#reservaIn #reservaOut {
  transition: 0.3s;
}