body {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 64px;
}

header.jumbotron h1:first-of-type {
  margin-top: 0;
}

footer > .container-fluid > ul.nav-pills > li:first-of-type {
  margin-right: -15px !important;
}
footer > .container-fluid > ul.nav-pills > li:nth-child(2) {
  margin-left: -15px !important;
}